In [1]:
import pandas as pd

In [5]:
pd.read_csv("X_train_scaled.csv")

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_OUTLIERS
0,-0.340398,-0.324395,-0.720370,1.392925,-1.504820,-0.577538,0.009287,-0.108706,-0.741162,-0.202596,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,1.035362,-0.440926,2.133857
1,-1.618859,-0.324395,1.388015,-0.717914,0.664531,0.807273,-0.047646,-0.996150,-0.239418,-0.994660,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,-0.440926,-0.468635
2,-1.003245,-0.324395,1.388015,1.392925,0.664531,-0.577538,-0.142533,0.440453,-0.133542,0.297014,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,1.824695,-0.468635
3,0.914160,-0.324395,1.388015,1.392925,0.664531,0.807273,-0.019673,0.747780,0.667820,0.979407,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,1.035362,0.691885,-0.468635
4,0.926466,-0.324395,1.388015,-0.717914,0.664531,-0.577538,0.237017,-0.162383,-0.401181,-0.166039,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,1.258290,-0.468635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.691570,-0.324395,-0.720370,-0.717914,-1.504820,-0.577538,0.047242,-0.040394,1.250291,0.004559,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,0.897175,-0.308620,0.125480,-0.468635
996,0.818713,-0.324395,-0.720370,-0.717914,0.664531,-0.577538,0.142129,0.989612,0.150552,0.796623,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,-0.440926,2.133857
997,-0.711280,-0.324395,1.388015,-0.717914,0.664531,-0.577538,-0.142533,-0.370260,-0.746130,-0.239153,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,5.087241,-0.269947,-0.308620,0.125480,-0.468635
998,0.528110,-0.324395,-0.720370,-0.717914,-1.504820,-0.577538,-0.484129,-0.818594,-1.051337,-0.848433,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,-1.007331,2.133857
999,-1.663532,-0.324395,-0.720370,-0.717914,-1.504820,0.807273,-0.237421,-0.873937,-0.493705,-0.848433,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,-0.440926,-0.468635

In [6]:
nom = pd.read_csv("./nom.csv")

In [7]:
nom

,Unnamed: 0,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_OUTLIERS
0,0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
2,2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
3,3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
4,4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1561,111174,Cash loans,F,N,Y,0,148500.0,245268.0,17977.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
996,1562,111175,Cash loans,F,N,Y,0,360000.0,601470.0,30838.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
997,1568,111194,Cash loans,F,N,N,1,202500.0,539100.0,22968.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
998,1569,111196,Cash loans,M,N,Y,0,135000.0,224136.0,17707.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
999,1584,111277,Cash loans,F,N,Y,2,112500.0,601470.0,32760.0,...,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0,False